body {
    display: flex;    
    background-color: #4980f718;
    justify-content: center;
    gap: 16px;
}

.header {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: crimson;
}

.mainContainer {
    display: flex;
    flex-direction: column;

}

.gridContainer {
    width: 960px;
    height: 960px;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    border: solid blue 3px;
    
    
}

.gridBlock {
    border: solid black 1px;
    background-color: white;
    box-sizing: border-box;
}

form {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: crimson;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    text-align: center;
    
}

.form {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    border: solid 2px blue;
    border-radius: 10px;
    
}

.submit, button, #squares {
    padding: 10px;
    background-color: #4980f718;
    border: solid 2px blue; 
    border-radius: 7px;
    color: crimson;
    font-weight: 700   
}